<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>../debug.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	 	<!--<logger name="io.gatling.http.ahc" level="TRACE" additivity="false">-->
			<!--<appender-ref ref="FILE" />-->
		<!--</logger>-->
	    <!--<logger name="io.gatling.http.response" level="TRACE" additivity="false">-->
			<!--<appender-ref ref="FILE" />-->
		<!--</logger>-->


		<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
		<logger name="io.gatling.http.ahc" level="DEBUG" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="io.gatling.http.response" level="DEBUG" additivity="false">
			<appender-ref ref="FILE" />
		</logger>

		<root level="WARN" additivity="false">
			<appender-ref ref="CONSOLE" />
		</root>

</configuration>